In [112]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import sklearn.linear_model as lm

In [113]:
data = pd.read_csv('50_Startups.csv')
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [114]:
data.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [115]:
one = LabelEncoder()
data.State = one.fit_transform(data.State)
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [116]:
data.corr()

,R&D Spend,Administration,Marketing Spend,State,Profit
R&D Spend,1.000000,0.241955,0.724248,0.104685,0.972900
Administration,0.241955,1.000000,-0.032154,0.011847,0.200717
Marketing Spend,0.724248,-0.032154,1.000000,0.077670,0.747766
State,0.104685,0.011847,0.077670,1.000000,0.101796
Profit,0.972900,0.200717,0.747766,0.101796,1.000000

In [117]:
X = data.drop(columns=["State","Profit"])
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [118]:
Y = data['Profit']
Y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [119]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size=0.3,random_state=25)

In [120]:
lr = lm.LinearRegression()
lr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [101]:
lr.intercept_

49642.243725341206

In [102]:
lr.coef_

array([ 0.82432446, -0.034915  ,  0.02655582])

In [103]:
y_pred = lr.predict(X)
y_pred

array([193692.46118117, 190178.24634433, 183429.37340358, 174684.70554521,
       173317.75946123, 164502.64886539, 158861.23661131, 160569.80847149,
       152091.0160262 , 155614.70619655, 135875.85218925, 136055.90522627,
       129205.72911204, 127452.73518448, 149860.44827503, 146717.37244304,
       116724.7066434 , 130109.06506909, 129118.70407384, 115520.17110469,
       116455.76906561, 116851.37167793, 114405.70163326, 109712.04661804,
       113418.17716891, 101738.15787826, 110264.97568764, 113996.99734815,
       100850.57991174, 101224.47880279,  99128.25955009,  97049.57707736,
        98623.84694023,  97488.81536734,  88004.41066095,  90060.98415426,
        74175.40234749,  89411.90861567,  68935.28436371,  83176.89701727,
        73794.83671671,  74045.0380698 ,  69701.87054864,  58920.08218416,
        63271.29253183,  46182.5146961 ,  54573.00484893,  44913.81268512,
        48282.45666844,  46757.3619226 ])

In [104]:
data['yPred'] = y_pred
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit          yPred
0  165349.20       136897.80        471784.10      2  192261.83  193692.461181
1  162597.70       151377.59        443898.53      0  191792.06  190178.246344
2  153441.51       101145.55        407934.54      1  191050.39  183429.373404
3  144372.41       118671.85        383199.62      2  182901.99  174684.705545
4  142107.34        91391.77        366168.42      1  166187.94  173317.759461

In [105]:
from sklearn.metrics import r2_score

In [106]:
r2_score(data.Profit,data.yPred)

0.9503480764011397

In [107]:
from sklearn.metrics import mean_absolute_error

In [108]:
mean_absolute_error(data.yPred,data.Profit)

6572.893317658983

In [109]:
from sklearn.metrics import mean_squared_error

In [111]:
mean_squared_error(data.Profit,data.yPred)

79050649.30850883

Polynomial Regression

In [121]:
from sklearn.preprocessing import PolynomialFeatures

In [136]:
p = PolynomialFeatures(degree=4)
x_poly = p.fit_transform(X)

In [137]:
model = lm.LinearRegression()
model.fit(x_poly, Y)
y_poly_pred = model.predict(x_poly)

In [138]:
r2_score(y_poly_pred,Y)

0.9683699028898289

In [139]:
mean_absolute_error(y_poly_pred,Y)

5301.0554304283605