In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import sklearn.linear_model as lm

In [2]:
data = pd.read_csv('50_Startups.csv')
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [3]:
data.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [4]:
one = LabelEncoder()
data.State = one.fit_transform(data.State)
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [5]:
data.corr()

,R&D Spend,Administration,Marketing Spend,State,Profit
R&D Spend,1.000000,0.241955,0.724248,0.104685,0.972900
Administration,0.241955,1.000000,-0.032154,0.011847,0.200717
Marketing Spend,0.724248,-0.032154,1.000000,0.077670,0.747766
State,0.104685,0.011847,0.077670,1.000000,0.101796
Profit,0.972900,0.200717,0.747766,0.101796,1.000000

In [6]:
X = data.drop(columns=["State","Profit"])
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [7]:
Y = data['Profit']
Y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [8]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size=0.2,random_state=25)

In [9]:
lr = lm.LinearRegression()
lr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
lr.intercept_

47401.68306623436

In [11]:
lr.coef_

array([ 0.84537434, -0.02872246,  0.02563961])

In [12]:
y_pred = lr.predict(X)
y_pred

array([195347.9720089 , 191891.05430949, 184671.33121678, 175866.95476024,
       174299.00032783, 165323.72961052, 160248.83482878, 161676.46893215,
       153023.30530127, 156363.90221279, 136255.44817196, 136274.0752988 ,
       129500.5199335 , 127756.16748476, 150879.08462829, 147406.98729299,
       116637.11336704, 130500.52720071, 129246.28154969, 116049.37766943,
       116251.8308824 , 116938.52538631, 114205.14999883, 109268.67232252,
       113285.39121171, 101596.56751784, 110379.82865535, 113742.50813575,
       101023.18758269, 101214.40181025,  98825.29332664,  96960.71655883,
        98476.00940126,  96857.93245986,  87524.50414546,  89127.3751007 ,
        73140.7365283 ,  88236.06720998,  67359.19725463,  82101.52192021,
        72735.33522004,  72765.5049554 ,  68419.00658023,  57762.17896238,
        62430.25390071,  44730.08759294,  52805.11125015,  43511.88927264,
        46373.72786219,  45199.84050136])

In [13]:
data['yPred'] = y_pred
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit          yPred
0  165349.20       136897.80        471784.10      2  192261.83  195347.972009
1  162597.70       151377.59        443898.53      0  191792.06  191891.054309
2  153441.51       101145.55        407934.54      1  191050.39  184671.331217
3  144372.41       118671.85        383199.62      2  182901.99  175866.954760
4  142107.34        91391.77        366168.42      1  166187.94  174299.000328

In [105]:
from sklearn.metrics import r2_score

In [106]:
r2_score(data.Profit,data.yPred)

0.9503480764011397

In [107]:
from sklearn.metrics import mean_absolute_error

In [108]:
mean_absolute_error(data.yPred,data.Profit)

6572.893317658983

In [109]:
from sklearn.metrics import mean_squared_error

In [111]:
mean_squared_error(data.Profit,data.yPred)

79050649.30850883

Polynomial Regression

In [121]:
from sklearn.preprocessing import PolynomialFeatures

In [136]:
p = PolynomialFeatures(degree=4)
x_poly = p.fit_transform(X)

In [137]:
model = lm.LinearRegression()
model.fit(x_poly, Y)
y_poly_pred = model.predict(x_poly)

In [138]:
r2_score(y_poly_pred,Y)

0.9683699028898289

In [139]:
mean_absolute_error(y_poly_pred,Y)

5301.0554304283605